<div class="fixed z-50 inset-0 flex items-center justify-center overflow-hidden">
	<div class="fixed inset-0 transition-opacity">
		<div class="absolute inset-0 bg-black opacity-50"></div>
	</div>
	

	<div class="flex flex-col md:flex-row p-2 rounded-lg bg-white gap-5 transform transition-all overflow-y-auto max-h-screen">
		<form class="p-3" [formGroup]="formViaje" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
			<div class="p-1 flex justify-between gap-2">
				<div class="p-1">
					<label for="inicio" class="block text-indigo-600 font-bold">Inicio <span class="text-red-600">*</span></label>
					<input 
						id="inicio" 
						name="inicio" 
						type="text"
						class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
						formControlName="inicio" 
						required
					>
				</div>
				<div class="p-1">
					<label for="final" class="block text-indigo-600	font-bold">Final <span class="text-red-600">*</span></label>
					<input 
						id="final" 
						name="final" 
						type="text"
						class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
						formControlName="final" 
						required
					>
				</div>
			</div>

			<div class="p-1 flex justify-between items-center gap-2">
				<div class="w-1/2">
					<label for="distancia" class="block text-indigo-600 font-bold">Distancia</label>
					<div class="flex items-center">
						<input 
							id="distancia" 
							name="distancia" 
							type="text"
							class="w-48 mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
							formControlName="distancia" 
							(input)="calcularTotalFacturado()"
						>
						<span class="ml-2">Km</span>
					</div>
				</div>
				<div class="w-1/2">
					<label for="montoSugerido" class="block text-indigo-600	font-bold">Precio Sugerido</label>
					<p class="w-full mt-2 py-1 px-3 bg-gray-200 cursor-not-allowed shadow-lg rounded-lg">{{montoSugerido | currency }}</p>
				</div>
			</div>
			
			<div class="p-1">
				<label for="monto" value="montoReal" class="block text-indigo-600 font-bold">Costo Real por kilometro<span class="text-red-600">*</span></label>
				<input 
					id="monto" 
					name="monto" 
					type="number"
					class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
					required
					formControlName="monto"
					(input)="calcularTotalFacturado()"
				>
			</div>

			<div class="p-1">
				<label for="fecha" class="block text-indigo-600	font-bold">Fecha <span class="text-red-600">*</span></label>
				<input 
					id="fecha" 
					name="fecha" 
					type="date"
					class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
					formControlName="fecha" 
					required
				>
			</div>

			<div class="p-1">
				<label for="cuitUsuario" class="block text-indigo-600 font-bold">Cuit Cliente <span class="text-red-600">*</span></label>
				<input 
					id="cuitUsuario" 
					name="cuitUsuario" 
					type="text"
					class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
					formControlName="cuitUsuario" 
					required
				>
			</div>
			
			<div class="p-1">
				<label for="totalFacturado" class="block text-indigo-600 font-bold">Total</label>
				<input 
					id="totalFacturado" 
					name="totalFacturado" 
					type="text"
					class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
					[value]="totalFacturado | currency"
					readonly
				>
			</div>

			<div class="p-1 py-2">
				<label for="file" class="block text-indigo-600 font-bold">Archivo PDF (Carta de Porte)</label>
				<input 
					id="file" 
					name="file" 
					type="file"
					class="w-full mt-2 py-1 px-3 bg-gray-200 focus:outline-indigo-200 shadow-lg rounded-lg"
					(change)="getFile($event)"
					#fileInput
				>
			</div>				
			
			<div class="flex justify-between gap-2 p-1">
				<button 
					class="w-1/2 shadow-md text-white text-center font-bold bg-yellow-600 p-1 rounded-md hover:bg-yellow-700 transition-all"
					type="submit">
					{{ botonAccion }}
				</button>

				<button 
					class="w-1/2 shadow-md text-white text-center font-bold bg-red-600 p-1 rounded-md hover:bg-red-700 transition-all"
					type="button"
					(click)="onCancel()"	
				>Cancelar
				</button>
			</div>
		</form>
		<app-map
			(locationSelected)="onLocationSelected($event)"
			(destinationSelect)="onDestinationSelected($event)"
			(distanceCalculated)="onDistanceCalculated($event)"	
		></app-map>
	</div>
</div>