<div class="fixed z-50 inset-0 flex items-center justify-center overflow-hidden">
	<div class="bg-white px-4 pt-5 rounded-lg">
		¿Está seguro de eliminar la categoría?

		<div class="p-3 flex justify-between gap-3" >
			<button 
				type="submit"
				class="w-1/2 shadow-md text-white text-center font-bold bg-yellow-600 p-1 rounded-md hover:bg-yellow-700 transition-all"
				(click)="confirmacion()"
			>Eliminar
			</button>
			<button 
				type="button" 
				class="w-1/2 shadow-md text-white text-center font-bold bg-red-600 p-1 rounded-md hover:bg-red-700 transition-all"
				mat-dialog-close
			>Cancelar
			</button>
		</div>
	</div>
</div>