<div class="main">
  <div class="buttons ">
    <img class="w-[380px] h-[282px]" src="https://via.placeholder.com/380x282" />
      <button mat-flat-button color="primary" class="buttons">+ Nuevo Viaje</button>
      <button mat-flat-button color="primary" class="buttons">Viajes</button>
      <button mat-flat-button color="primary" class="buttons">Gastos</button>
      <button mat-flat-button color="primary"  class="buttons">Perfil</button>
  </div>
  <div class="componentes">
    <app-viajes></app-viajes>
  </div>
</div>


<router-outlet></router-outlet>