@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

html {
    user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}