<div class="container" *ngIf="unidad">
  <div class="layout">
    <div class="oil-column">
      <div class="oil-barrel-container">
        <svg class="oil-barrel" viewBox="0 0 100 150">
          <rect class="barrel-border" x="10" y="20" width="80" height="110" fill="none" stroke="black" stroke-width="5"/>
          <rect class="barrel-fill" x="10" [attr.y]="130 - getOilLevel()" width="80" [attr.height]="getOilLevel()" fill="black"/>
        </svg>
      </div>

      <div class="oil-details">
        <p>Kilómetros recorridos con este aceite: {{ unidad.kmAceite }} km</p>
        <p>Último cambio de aceite realizado: {{ unidad.aceite | date:'dd/MM/yyyy' }} </p>
      </div>

      <div *ngIf="showWarning" class="warning-message">Atención: ¡Cambio de aceite recomendado!</div>

      <div class="flex flex-col space-y-5 font-bold text-center text-white text-xl">
        <button class="shadow-md bg-indigo-600 p-1 rounded-md hover:bg-indigo-700 transition-all" (click)="refilOil()">
          Informar cambio de aceite del camión
        </button>
      </div>
    </div>

    <!-- Columna derecha: Camión -->
    <div class="truck-column">
      <div class="truck">
        <div class="cab"></div>
        <div class="trailer"></div>
        <div
          *ngFor="let wheel of unidad?.ruedas; let i = index"
          class="wheel"
          [ngClass]="{
            'selected': selectedWheel === i,
            'front-left': i === 0,
            'front-right': i === 1,
            'rear-left': i === 2,
            'rear-right': i === 3,
            'back-left': i === 4,
            'back-right': i === 5
          }"
          (click)="selectWheel(i)"
        >
        </div>
      </div>
    </div>
    <!-- Detalles de la rueda seleccionada -->
    <div class="wheel-details" *ngIf="selectedWheel !== null">
      <label for="wheelSelect">Seleccionar Rueda:</label>
      <select id="wheelSelect" (change)="onWheelSelect($event)">
        <option *ngFor="let wheel of unidad?.ruedas; let i = index" [value]="i">
          Rueda {{ i + 1 }}
        </option>
      </select>
      <p><strong>Rueda seleccionada: {{ selectedWheel + 1 }}</strong></p>
      <p>Kilómetros recorridos: {{ unidad.estadoRueda[selectedWheel] }} km</p>
    </div>
  </div>
</div>


<div class="container" *ngIf="!unidad">
  <div class="text-center">
    <button class="shadow-md bg-indigo-600 p-3 rounded-md hover:bg-indigo-700 transition-all text-white text-xl font-bold"
            (click)="openDialog()">
      Cargar camión y amortización
    </button>
  </div>
</div>

