.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.oil-column, .truck-column {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.oil-barrel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
  align-items: center;
}

.oil-icon-container {
  margin-right: 20px;
  position: relative;
}

.oil-details {
  margin-top: 10px;
}

.truck {
  position: relative;
  width: 300px;
  height: 350px;
  background: #888;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cab {
  width: 100px;
  height: 70px;
  background: #555;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
}

.trailer {
  width: 220px;
  height: 80px;
  background: #777;
  position: absolute;
  bottom: 10px;
  left: 40px;
  border-radius: 5px;
}

.wheel {
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

.wheel.selected {
  background: white;
}

/* Ajuste de posiciones de las ruedas */
.wheel.front-left {
  top: 50px;
  left: 20px;
}

.wheel.front-right {
  top: 50px;
  right: 20px;
}

.wheel.rear-left {
  bottom: 50px;
  left: 20px;
}

.wheel.rear-right {
  bottom: 50px;
  right: 20px;
}

.back-left {
  bottom: 15px;
  left: 20px;
}

.back-right {
  bottom: 15px;
  right: 20px;
}

.warning {
  color: red;
  font-weight: bold;
}
.warning-message {
  color: red;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
